<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>School</title>
    <form method="get" action="/students">
      <button type="submit">Student list</button>
    </form>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
